<!--
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* @html 			 App
* @author			p.neumann@supernice-dev.com
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
-->


<header>
	<div class="bar">
		<a href="http://universalchannel.de/" class="logo"></a>
		<ul class="navList">
			<li class="navIistItem">
				<b><a target="_blank" href="http://www.universalchannel.de/schedule/day">TV-Guide</a></b>
			</li>
			<li class="navIistItem has-children">
				<b><a target="_blank" href="http://www.universalchannel.de/shows">Serien</a></b>
			</li>
			<li class="navIistItem has-children">
				<b><a target="_blank" href="http://www.universalchannel.de/movies">Filme</a></b>
			</li>
			<li class="navIistItem has-children">
				<b><a target="_blank" href="http://www.universalchannel.de/news">News</a></b>
			</li>
			<li class="navIistItem">
				<b><a target="_blank" href="http://www.universalchannel.de/games">Games</a></b>
			</li>
			<li class="navIistItem">
				<b><a target="_blank" href="http://www.universalchannel.de/competitions">Gewinnspiele</a></b>
			</li>
		</ul>
		<ul class="navList right">
			<li class="navIistItem">
				<a target="_blank" href="http://www.universalchannel.de/shows/chicago-fire-staffel-5"><b>Chicago Fire Staffel 5</b> – Immer Montags 21:00</a>
			</li>
			<li class="navIistItem imgg">
				<a target="_blank" href="https://www.facebook.com/UniversalChannelDE/"><img src="webApp/img/nb_fb.jpg"></a>
			</li>
			<li class="navIistItem imgg">
				<a target="_blank" href="https://www.youtube.com/user/universalchannelDE/"><img src="webApp/img/nb_yt.jpg"></a>
			</li>
			<li class="navIistItem imgg">
				<a target="_blank" href="http://www.universalchannel.de/user/login/"><img src="webApp/img/nb_login.jpg"></a>
			</li>
		</ul>
	</div>
</header>


<!-- <div class="teaser">
	<img src="./webApp/img/header_bg.jpg"/>
	<ul class="shList"></ul>
	<p>
		Singt gemeinsam mit hunderten Feuerwehrmännern und -frauen aus ganz Deutschland im größten Feuerwehrchor aller Zeiten! Jede Stimme zählt: Schickt euer Video ein und werdet mit euren Feuerwehr-Kollegen Teil des Heldenchors.
	</p>
</div> -->


<!-- <div class="videoCtn">
	<video class="" loop controls type="video/mp4" src="./webApp/video/video_1.mp4"></video>
</div> -->


<div class="descr">
	<img src="./webApp/img/descr_bg.jpg"/>
	<div class="textCtn top">
		<h1 class="curved">
			Helden<br>gesucht!
		</h1>
		<p>
			Zur Ausstrahlung der <b>100. Folge „Chicago Fire“ am 24. April</b> wollen wir nicht nur den Helden aus der Serie, sondern vor allem EUCH, den echten Feuerwehrmännern und -frauen, ein Denkmal setzen: mit einer einzigartigen Hymne von euch, für euch.<br>
			<br>
			Aus allen eingesendeten Videos entsteht ein Musikvideo, in dem ihr die Hauptrolle spielt! Freut euch darauf, Teil des größten Feuerwehrchors aller Zeiten auf YouTube und Universal Channel zu werden!
		</p>
	</div>
	<div class="textCtn bottom">
		<p>
			<b>
				Unter allen Teilnehmern verlosen wir 1000€ als<br>
				Finanzspritze für eure nächste Feuerwehr-Party.
			</b>
		</p>
		<p class="button" id="_howTo">
			Anleitung & Song
		</p>
		<ul class="howTo">
			<li>
				<h1>1</h1>
				<p>
					Klickt auf „Anleitung & Song“ und holt euch den Heldenchor-Songtext und die Anleitung zum Selbermachen.
				</p>
			</li>
			<li>
				<h1>2</h1>
				<p>
					Filmt euch und eure Kollegen beim Singen (wie im Beispiel-Video oben).
				</p>
			</li>
			<li>
				<h1>3</h1>
				<p>
					Klickt auf „Video hochladen“ und ladet euer Video hoch.
				</p>
			</li>
		</ul>
		<p class="button"  id="_videoUpload">
			Video hochladen
		</p>
	</div>
</div>


<div class="songText">
	<h1 class="curved">
		Der<br>Songtext
	</h1>
	<div class="mp3Btn"><a href="https://heldenchor.universalchannel.de/song.mp3" target="_blank"></a></div>
	<p>
		Atemschutz, Funkgerät, Einsatzleiter, Rettungsweg,<br>
		Mannschaftswagen, Martinshorn, Flammen, meterhoch<br>
		Erste Hilfe, zweite Chance, 112, der Heldenruf,<br>
		Helfen, Löschen, Schützen, Bergen, Retter in der Not<br>
		<br>
		Verkehrsunfall, Brandalarm, Wasserrettung, Blaulicht an<br>
		Gefahrengut und Strahlenschutz, Notfall, Lageplan<br>
		Vollgas, Innenstadt, Tachonadel, Herzinfarkt,<br>
		Gefahr gebannt, abgebrannt, Einsatz im Sekundentakt<br>
		<br>
		We didn‘t start the fire<br>
		No we didn‘t light it<br>
		But we try to fight it<br>
		(2x)<br>
		<br>
		Familienvater, Feuerkämpfer, Ortsbrandmeister, Rettungshelfer<br>
		Mannschaftstraining, Feuer-Code, Ehrenamt und Job<br>
		Definieren, delegieren, dirigieren, Einsatz führen,<br>
		Bester Mann, vorne dran, Erster Kommandant<br>
		<br>
		Teamaufstellung, Mannschaftsgeist, Gruppenübung, Startbereit,<br>
		Herzblut, Ehrgeiz, Kamerad, Sirene, Einsatzfahrt<br>
		Löschzug, Funkenflug, Explosion, Feuersturm<br>
		Leiter, Maske, Axt und Schlauch, Zusammen rein, Zusammen raus,<br>
		<br>
		We didn‘t start the fire<br>
		No we didn‘t light it<br>
		But we try to fight it<br>
		(4x)<br>
		<br>
		No we didn‘t light it<br>
		But we try to fight it<br>
	</p>
	<div>
		<p class="button">
			<a href="https://heldenchor.universalchannel.de/video_upload_anleitung.pdf" target="_blank">Download als PDF</a>
		</p>
	</div>
	<!-- <div>
		<p class="button"  id="_newsletter">
			Newsletter abonnieren
		</p>
	</div> -->
</div>


<footer>
	<div class="logo">
	</div>
	<div>
		<p>
			<b>
				<a href="http://www.universalchannel.de/kontakt-impressum" target="_blank">Kontakt & Impressum</a>
			</b>
		</p>
		<p class="small">
			<b>
				<a href="http://www.nbcuniversal.de/footer/datenschutz/" target="_blank">Datenschutz</a> & <a href="http://www.nbcuniversal.de/footer/nutzungsbedingungen/" target="_blank">Nutzungsbestimmungen</a>
			</b>
		</p>
	</div>
</footer>
