/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* @less 			App
* @author 		p.neumann@supernice-dev.com
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/



@import 'app_global.less';

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@font-face
{
	font-family: 'UniversalEffraRegular';
	src: url("../../../css/web_fonts/unieffra_std_rg-webfont.eot");
	src: url("../../../css/web_fonts/unieffra_std_rg-webfont.eot?#iefix") format("embedded-opentype"),
	url("../../../css/web_fonts/unieffra_std_rg-webfont.woff") format("woff"),
	url("../../../css/web_fonts/unieffra_std_rg-webfont.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

@font-face
{
	font-family: 'UniversalEffraBold';
	src: url("../../../css/web_fonts/unieffra_std_bd-webfont.eot");
	src: url("../../../css/web_fonts/unieffra_std_bd-webfont.eot?#iefix") format("embedded-opentype"),
	url("../../../css/web_fonts/unieffra_std_bd-webfont.woff") format("woff"),
	url("../../../css/web_fonts/unieffra_std_bd-webfont.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

@font-face
{
	font-family: 'UniBreuerCondensedLight';
	src: url("../../../css/web_fonts/unibreuercondensedweb-light.eot");
	src: url("../../../css/web_fonts/unibreuercondensedweb-light.eot?#iefix") format("embedded-opentype"),
	url("../../../css/web_fonts/unibreuercondensedweb-light.woff") format("woff"),
	url("../../../css/web_fonts/unibreuercondensedweb-light.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

@font-face
{
	font-family: 'UniBreuerCondensedRegular';
	src: url("../../../css/web_fonts/unibreuercondensedweb-regular.eot");
	src: url("../../../css/web_fonts/unibreuercondensedweb-regular.eot?#iefix") format("embedded-opentype"),
	url("../../../css/web_fonts/unibreuercondensedweb-regular.woff") format("woff"),
	url("../../../css/web_fonts/unibreuercondensedweb-regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

@font-face
{
	font-family: 'UniBreuerCondensedBold';
	src: url("../../../css/web_fonts/unibreuercondensedweb-bold.eot");
	src: url("../../../css/web_fonts/unibreuercondensedweb-bold.eot?#iefix") format("embedded-opentype"),
	url("../../../css/web_fonts/unibreuercondensedweb-bold.woff") format("woff"),
	url("../../../css/web_fonts/unibreuercondensedweb-bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

*
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */

	// text-rendering: optimizelegibility;
}

// *:active
// {
// 	-webkit-transform: scale3d(0.9, 0.9, 1);
// }

html
{
	margin: 0;
	padding: 0;

	background-color: @colorBright;
	color: @colorDark;
	// background-color: @colorDark;
	// color: @colorBright;

	// &.safariFontFix
	// {
		-webkit-font-smoothing: antialiased;
		// -webkit-text-stroke: 0.03rem #FFF;
	// }
}

html, body
{
	/*
	// ::: Stop bouncing
	*/
	position: relative;
	width: 100%;
	// height: 100%;
	// overflow: hidden;
	/*
	// ::: Stop bouncing
	*/
}

body
{
	font-family: @fontUniversalEffraRegular, Arial, helvetica, sans-serif;
	// font-family: @fontUniBreuerCondensedRegular, Arial, helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	font-size: @baseUnit * 15;
	line-height: 130%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

h1
{
	font-family: @fontUniBreuerCondensedBold, Arial, helvetica, sans-serif;
	font-size: @baseUnit * 40;
	line-height: 95%;
	text-transform: uppercase;
}

h2
{
	font-family: @fontUniBreuerCondensedBold, Arial, helvetica, sans-serif;
	font-size: @baseUnit * 32;
	line-height: 130%;
	text-transform: uppercase;
}

p
{
	font-size: @baseUnit * 19;
	line-height: 130%;
}

ul
{
	// list-style: none;
	// list-style: circle;
	// list-style: square;
	// list-style: disc;
}

li
{
	// font-size: inherit;
	// line-height: 130%;
}

sup
{
	font-size: smaller;
	vertical-align: super;
}

sub
{
	font-size: smaller;
	vertical-align: sub;
}

em
{
	font-style: italic;
}

b
{
	font-family: @fontUniversalEffraBold, Arial, helvetica, sans-serif;
	// font-weight: bold;
}

// strong
// {
// 	// font-family: @fontUniBreuerCondensedBold, Arial, helvetica, sans-serif;
// 	font-weight: bold;
// }

a
{
	font-size: inherit;
	color: inherit;
	text-decoration: none;
	outline: none;
	transition: color 0.2s ease-in;

	&:hover
	{
		// color: @colorPurple;
	}

	&:focus
	{
		outline: none;
	}
}

img
{
	pointer-events: none;
	width: 100%;
	margin-bottom: @baseUnit * -10;
}

video
{
	position: relative;
	width: 100%;
	margin-bottom: @baseUnit * -10;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.webApp
{
	position: relative;
	width: @baseWidth;
	margin: 0 auto;

	.button
	{
		position: relative;
		display: inline-block;
		min-width: @baseUnit * 140;
		padding: @baseUnit * 7 @baseUnit * 20;
		background-color: @colorPurple;
		font-size: @baseUnit * 13;
		color: @colorBright;
		border-radius: @baseUnit * 50;
		font-family: @fontUniversalEffraBold;
		text-align: center;
		text-transform: uppercase;
		cursor: pointer;
		white-space: nowrap;
		overflow: hidden;

		&::before
		{
			content: "";
			position: absolute;
			top: -10%;
			left: -150%;
			width: 140%;
			height: 120%;
			background-color: #CCC;
			transform: skewX(-20deg);
			transition: left 0.3s ease-in-out;
		}

		&:hover
		{
			&::before
			{
				left: -20%;
			}
		}

		a:hover
		{
			color: inherit;
		}
	}

	h1.curved
	{
		font-size: @baseUnit * 80;
		font-style: italic;
		transform: rotate(-4deg);
		margin-bottom: @baseUnit * 30;
		line-height: 85%;
		letter-spacing: -2px;
	}

	.videoCtn
	{
		position: relative;
		background-color: @colorDark;
	}
}

/*//////////////////////////////////////////////////////////////////////////////////////////  MOBILE */

.webApp
{
	&.mobile
	{
	}
}


/*//////////////////////////////////////////////////////////////////////////////////////////  TABLET */

.webApp
{
	&.tablet
	{
		width: @baseWidthTablet;
	}
}


/*//////////////////////////////////////////////////////////////////////////////////////////  PHONE */

.webApp
{
	&.phone
	{
		width: @baseWidthPhone;
		overflow-x: hidden;

		h1
		{
			// font-family: @fontUniBreuerCondensedBold, Arial, helvetica, sans-serif;
			// font-size: @baseUnit * 40;
			// line-height: 95%;
			// text-transform: uppercase;
		}

		h2
		{
			// font-family: @fontUniBreuerCondensedBold, Arial, helvetica, sans-serif;
			// font-size: @baseUnit * 32;
			// line-height: 130%;
			// text-transform: uppercase;
		}

		p
		{
			font-size: @baseUnit * 16;
			padding: 0 @baseUnit * 10;
			// line-height: 130%;
		}

		img
		{
			// pointer-events: none;
			width: 155%;
			// margin-bottom: -0.625rem;
			margin-left: 50%;
			transform: translateX(-52%);
		}

		.button
		{
			// position: relative;
			// display: inline-block;
			// min-width: @baseUnit * 140;
			padding: @baseUnit * 5 @baseUnit * 20;
			// background-color: @colorPurple;
			font-size: @baseUnit * 14;
			// color: @colorBright;
			// border-radius: @baseUnit * 50;
			// text-align: center;
			// text-transform: uppercase;
			// cursor: pointer;

			p
			{
				padding: @baseUnit * 5 @baseUnit * 20;
				// font-size: @baseUnit * 14;
			}
		}

		h1.curved
		{
			font-size: @baseUnit * 70;
			margin-bottom: @baseUnit * 20;
		}
	}
	// &.portrait
	// {
	// }
	//
	// &.landscape
	// {
	// 	height: 101%;
	//
	// 	.webApp
	// 	{
	// 		height: 99%;
	// 	}
	// }
}
