/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* @less 			App
* @author 		p.neumann@supernice-dev.com
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/



@import 'app_global.less';

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.webApp
{
	.descr
	{
		position: relative;
		height: @baseUnit * 1050;
		color: @colorBright;
		text-align: center;

		.textCtn
		{
			position: absolute;
			width: 64%;
			top: @baseUnit * 50;
			left: 0;
			right: 0;
			margin: 0 auto;

			&.bottom
			{
				width: 75%;
				top: auto;
				bottom: @baseUnit * 0;

				> *
				{
					margin: @baseUnit * 15 0;
				}

				.howTo
				{
					*
					{
						display: inline-block;
						vertical-align: top;
						width: 30%;

						h1
						{
							width: @baseUnit * 60;
							height: @baseUnit * 60;
							font-size: @baseUnit * 40;
							border: @baseUnit * 4 solid @colorBright;
							border-radius: 50%;
							padding: @baseUnit * 6;
							font-family: @fontUniversalEffraRegular;
						}

						p
						{
							text-align: left;
							font-size: @baseUnit * 14;
							padding-left: @baseUnit * 10;
							width: 68%;
							margin: 0;
						}
					}
				}
			}

			#_videoUpload
			{
				&::before
				{
					content: "";
					display: inline-block;
					vertical-align: middle;
					width: @baseUnit * 36;
					height: @baseUnit * 36;
					margin: @baseUnit * 2 @baseUnit * 10 @baseUnit * 2 @baseUnit * -10;
					// background: @colorBright;
					background-image: url("../../img/play_icon.png");
					background-size: 100%;
					background-repeat: no-repeat;
				}
			}
		}
	}
}

/*//////////////////////////////////////////////////////////////////////////////////////////  PHONE */

.webApp
{
	&.phone
	{
		.descr
		{
			height: auto;

			.textCtn
			{
				position: relative;
				width: 100%;
				top: auto;
				left: auto;
				right: auto;
				margin: @baseUnit * 10 auto;
				color: @colorDark;

				&.top
				{
					margin-top: @baseUnit * -40;
				}

				>h1
				{
					position: absolute;
					top: @baseUnit * -440;
					left: 0;
					right: 0;
					margin: 0 auto;
					color: @colorBright;
				}

				&.bottom
				{
					// width: 75%;
					// top: auto;
					// bottom: @baseUnit * 0;

					> *
					{
						// margin: @baseUnit * 15 0;
					}

					.howTo
					{
						*
						{
							display: block;
							// vertical-align: baseline;
							width: 100%;

							h1
							{
								width: @baseUnit * 60;
								height: @baseUnit * 60;
								// font-size: @baseUnit * 40;
								border: @baseUnit * 3 solid @colorDark;
								// border-radius: 50%;
								// padding: @baseUnit * 6;
								// font-family: @fontUniversalEffraRegular;
								margin: @baseUnit * 10 auto;
							}

							p
							{
								text-align: center;
								// font-size: @baseUnit * 14;
								// padding-left: @baseUnit * 10;
								width: 100%;
								margin: 0;
							}
						}
					}
				}
			}
		}
	}
}
