/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* @less 			App
* @author 		p.neumann@supernice-dev.com
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/



@import 'app_global.less';

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.webApp
{
	.teaser
	{
		position: relative;
		font-size: 0;
		color: @colorBright;
		text-align: center;

		p
		{
			position: absolute;
			width: 70%;
			bottom: @baseUnit * 70;
			left: 0;
			right: 0;
			margin: 0 auto;
		}

		.shList
		{
			position: absolute;
			right: @baseUnit * 40;
			bottom: @baseUnit * 60;

			li
			{
				// display: block;
				position: relative;
				width: @baseUnit * 40;
				height: @baseUnit * 40;
				margin-bottom: @baseUnit * 10;
				background-repeat: no-repeat;
				background-size: 100%;

				// color: @colorBright;

				&.txt
				{
					position: absolute;
					right: @baseUnit * 16;
					top: @baseUnit * -29;
					font-size: @baseUnit * 20;
					font-family: @fontUniversalEffraRegular;
				}

				&.fb
				{
					background-image: url("../../../webApp/img/sh_fb.png");
				}

				&.tw
				{
					background-image: url("../../../webApp/img/sh_tw.png");
				}

				&.wa
				{
					display: none;
					background-image: url("../../../webApp/img/sh_wa.png");
				}

				a
				{
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

/*//////////////////////////////////////////////////////////////////////////////////////////  PHONE */

.webApp
{
	&.phone
	{
		.teaser
		{
			p
			{
				position: relative;
				width: 100%;
				bottom: auto;
				left: auto;
				right: auto;
				margin: @baseUnit * 20 auto;
				color: @colorDark;
			}

			.shList
			{
				position: absolute;
				left: 0;
				right: auto;
				bottom: @baseUnit * 155;
				width: 100%;

				li
				{
					display: inline-block;
					vertical-align: top;
					margin: 0 @baseUnit * 20;

					&.txt
					{
						display: none;
					}

					&.wa
					{
						display: inline-block;
					}
				}
			}
		}
	}
}
