/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* @less 			App Globals
* @author 		p.neumann@supernice-dev.com
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/



@baseUnit: 1rem * 0.0625;

// @fontUniversalEffraRegular: "UniversalEffraRegular", Arial, helvetica, sans-serif;
@fontUniversalEffraRegular: "UniversalEffraRegular";
@fontUniversalEffraBold: "UniversalEffraBold";

@fontUniBreuerCondensedLight: "UniBreuerCondensedLight";
@fontUniBreuerCondensedRegular: "UniBreuerCondensedRegular";
@fontUniBreuerCondensedBold: "UniBreuerCondensedBold";

// width: calc(~'50vw -' @baseUnit * 5);

@colorBright: #FFF;
@colorDark: #000;
@colorPurple: #990099;
@colorPurple2: #39313d;

@baseWidth: @baseUnit * 1280;
// @baseWidthTablet: @baseUnit * 1024;
@baseWidthTablet: @baseUnit * 1280;
@baseWidthPhone: @baseUnit * 320;

/* - - - - - - - - - - - - - - - - */

.displayNone
{
	display: none;
}

.overflowYHidden
{
	overflow-y: hidden !important;
}

/* - - - - - - - - - - - - - - - - */

.smoothScroll
{
	overflow-x: hidden;
	overflow-y: auto;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
}

/* - - - - - - - - - - - - - - - - */

.centerContent
{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}

/* - - - - - - - - - - - - - - - - */

.displayTable
{
	display: table;
	width: 100%;
	height: 100%;
}

.displayTableCell
{
	display: table-cell;
	vertical-align: middle;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.mobile
{
}
