/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* @less 			App
* @author 		p.neumann@supernice-dev.com
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/



@import 'app_global.less';

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.webApp
{
	.songText
	{
		text-align: center;
		background-color: @colorBright;
		padding: @baseUnit * 50;

		.curved
		{
			margin-bottom: @baseUnit * 50;
		}

		p
		{
			margin-bottom: @baseUnit * 28;
		}

		.mp3Btn
		{
			position: relative;
			width: @baseUnit * 600;
			height: @baseUnit * 130;
			margin: @baseUnit * -40 auto @baseUnit * 20 auto;
			background-repeat: no-repeat;
			background-size: 100%;
			background-image: url("../../../webApp/img/mp3btn.jpg");
			background-size: 75%;
			background-position: 50%;

			a
			{
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
		}
	}
}

/*//////////////////////////////////////////////////////////////////////////////////////////  PHONE */

.webApp
{
	&.phone
	{
		.songText
		{
			// text-align: center;
			// background-color: @colorBright;
			padding: @baseUnit * 0;

			.curved
			{
				// margin-bottom: @baseUnit * 50;
			}

			p
			{
				// margin-bottom: @baseUnit * 28;
			}

			.mp3Btn
			{
				width: @baseUnit * 320;
				height: @baseUnit * 60;
				margin: @baseUnit * 20 auto @baseUnit * 10 auto;
			}
		}
	}
}
