/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* @less 			App
* @author 		p.neumann@supernice-dev.com
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/



@import 'app_global.less';

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.webApp
{
	.bar
	{
		position: relative;
		width: 100%;
		height: @baseUnit * 60;
		background-color: @colorBright;
		overflow: hidden;

		.logo
		{
			display: inline-block;
			position: relative;
			margin-left: @baseUnit * 50;
			width: @baseUnit * 70;
			height: 100%;
			background-repeat: no-repeat;
			background-image: url("../../img/universal_logo.png");
			background-size: @baseUnit * 60;
			background-position: 50%;
		}

		.navList
		{
			display: inline-block;
			vertical-align: top;

			&.right
			{
				float: right;
				margin-right: @baseUnit * 50;

				li
				{
					display: inline-block;
					vertical-align: top;
					margin: 0 @baseUnit * 5;

					a
					{
						width: @baseUnit * 20;
						height: @baseUnit * 20;
						background-color: #FFF;
					}
				}
			}
		}

		ul
		{
			height: 100%;
			padding: @baseUnit * 18 0;

			li
			{
				display: inline-block;
				vertical-align: top;
				margin: 0 @baseUnit * 15;
				font-size: @baseUnit * 16;

				img
				{

					height: 100%;
					margin-bottom: 0;
				}
			}
		}
	}

	footer
	{
		position: relative;
		height: @baseUnit * 70;
		background-color: @colorPurple2;
		padding: @baseUnit * 10;
		text-align: center;

		div
		{
			position: relative;
			display: inline-block;
			vertical-align: middle;

			&.logo
			{
				width: @baseUnit * 50;
				height: 100%;
				margin-right: @baseUnit * 10;

				&::before
				{
					display: block;
					position: relative;
					content: "";
					width: 100%;
					height: 100%;
					background-image: url("../../img/universal_logo_white.png");
					background-repeat: no-repeat;
					background-size: 100% auto;
					background-position: 50%;
				}
			}
		}

		p
		{
			text-transform: uppercase;
			color: @colorBright;
			font-size: @baseUnit * 24;

			&.small
			{
				font-size: @baseUnit * 12.4;
			}
		}
	}
}

/*//////////////////////////////////////////////////////////////////////////////////////////  PHONE */

.webApp
{
	&.phone
	{
		.bar
		{
			// position: relative;
			// width: 100%;
			// height: @baseUnit * 60;
			// background-color: @colorBright;

			.logo
			{
				// display: inline-block;
				// position: relative;
				margin-left: @baseUnit * 10;
				// width: @baseUnit * 70;
				// height: 100%;
				// background-repeat: no-repeat;
				// background-image: url("../../img/universal_logo.png");
				// background-size: @baseUnit * 60;
				// background-position: 50%;
			}

			.navList
			{
				display: block;
				// vertical-align: top;

				&.right
				{
					float: left;
					margin-right: 0;
				}
			}

			ul
			{
				height: 100%;
				padding: @baseUnit * 18 0;

				li
				{
					display: block;
					// vertical-align: middle;
					margin: 0 @baseUnit * 15;
					font-size: @baseUnit * 16;
				}
			}
		}

		footer
		{
			height: @baseUnit * 70;
			padding: 0;

			div
			{
				&.logo
				{
					margin-right: @baseUnit * 0;
				}
			}

			p
			{
				font-size: @baseUnit * 21;

				&.small
				{
					font-size: @baseUnit * 11;
				}
			}
		}
	}
}
