/*
Theme Name: Template Theme
Theme URI: http://www.supernice-dev.com
Description: Template Theme
Author: Philipp Neumann	
Author URI: http://www.supernice-dev.com
*/


/* - - - - - - - - - - - - - - - - */

body
{
	background-color: #FFF;
	color: #000;

	margin: 0;
	padding: 0;

	font-family: Arial, helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	font-size: 100%;
	line-height: 130%;

	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

/* - - - - - - - - - - - - - - - - */

h1
{
	font-size: 24px;
}

h2
{
	font-size: 18px;
}

p, li
{
	font-size: 14px;
}

strong
{
	font-weight: bold;
}