<!--
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* @html 			UploadView
* @author 		p.neumann@supernice-dev.com
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
-->


<div class="blk"></div>


<div class="step" id="step1">
	<div class="bgCtn">
		<div class="bg"></div>
	</div>
	<h1 class="curved notVisibleOn_videoUpload">
		Jetzt Anleitung und Song<br>
		als Mail erhalten
	</h1>
	<h1 class="curved notVisibleOn_howTo">
		VIDEO HOCHLADEN & TEIL<br>
		DES HELDENCHORS WERDEN
	</h1>
	<form enctype="multipart/form-data">
		<div class="inlineCtn notVisibleOn_howTo">
			<input type="text" id="_forename" name="forename" value="" placeholder="Vorname">
			<input type="text" id="_surname" name="surname" value="" placeholder="Nachname">
		</div>
		<input type="text" id="_email" name="email" value="" placeholder="Email-Adresse">

		<input type="radio" name="feuerwehr" value="Freilwillige Feuerwehr" checked><label class="" for="_feuerwehr1">Freilwillige Feuerwehr</label><br>
		<input type="radio" name="feuerwehr" value="Berufsfeuerwehr"><label class="" for="_feuerwehr2">Berufsfeuerwehr</label><br>

		<input type="text" id="_place" name="place" value="" placeholder="Stadt/Ortschaft">

		<div class="row notVisibleOn_howTo">
			<input type="file" id="_file" name="file"><label class="button" for="_file">Video auswählen</label>
		</div>

		<div class="row">
			<input type="checkbox" id="_checkBoxAGB" name="checkBoxAGB"><label class="" for="_checkBoxAGB">* Ich bin mit den <a target="_blank" href="https://www.nbcuniversal.com/privacy-policies/privacy-german/">Datenschutzrichtlinien</a>  und den <a target="_blank" href="https://heldenchor.universalchannel.de/teilnahmebedingungen.pdf">Teilnahmebedingungen</a>  einverstanden. * Pflichtfeld</label>
		</div>
		<div class="row" id="_checkBoxNewsletterCtn">
			<input type="checkbox" id="_checkBoxNewsletter" name="checkBoxNewsletter"><label class="" for="_checkBoxNewsletter">Ja, ich möchte den Universal Channel Newsletter zu aktuellen Serien und Filmen erhalten.</label>
		</div>
	</form>

	<div class="row">
		<p class="button" id="_submit">Absenden</p>
		<p class="uploadStatus"></p>
	</div>
</div>


<div class="step" id="step2">
	<div class="bgCtn">
		<div class="bg"></div>
	</div>
	<div class="stepContent notVisibleOn_howTo">
		<h1 class="curved">
			Willkommen im<br>
			Heldenchor!
		</h1>
		<p>
			Vielen Dank für euer Video.<br>
			Ihr seid  jetzt Teil des Heldenchors!
		</p>
	</div>
	<div class="stepContent notVisibleOn_videoUpload">
		<h1 class="curved">
			Danke<br>
			für's Mitmachen!
		</h1>
		<p>
			Wir haben dir alle Infos per Mail zugeschickt.<br>
			Nicht bekommen? Schau auch in deinem Spam-Ordner nach.<br>
			Wir freuen uns auf euer Video!
		</p>
	</div>
	<div class="button closeAction">Zurück zur Startseite</div>
</div>


<div class="closeBtn closeAction"></div>
