/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* @less 			UploadView
* @author 		p.neumann@supernice-dev.com
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/

@import '../../app_global.less';

.uploadView
{
	position: fixed;
	width: @baseUnit * 840;
	height: @baseUnit * 680;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	opacity: 0.0;
	transform: scale(0, 0);
	transition: transform 0.7s ease-in 0.0s, opacity 0.3s ease;

	&.show
	{
		opacity: 1;
		transform: scale(1, 1);
		transition: transform 0.3s ease-out, opacity 0.3s ease 0.15s;
	}

	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

	.blk
	{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: @colorDark;
		opacity: 0.9;
		transform: scale(3, 3);
	}

	.bgCtn
	{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
		background-color: @colorDark;

		.bg
		{
			position: relative;
			width: @baseUnit * 840;
			height: 100%;
			background-image: url("../../../../img/form_bg1.png");
			background-repeat: no-repeat;
			background-size: 100%;
			margin-left: 50%;
			transform: translateX(-50%);
			opacity: 0.7;
		}
	}

	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

	.closeBtn
	{
		position: absolute;
		top: @baseUnit * 20;
		right: @baseUnit * 20;
		width: @baseUnit * 30;
		height: @baseUnit * 30;
		background-image: url("../../../../img/closeBtn.png");
		background-repeat: no-repeat;
		background-size: 100%;
		cursor: pointer;
	}

	h1.curved
	{
		font-size: @baseUnit * 70;
		margin-bottom: @baseUnit * 60;
		color: @colorBright;
		text-align: center;
	}

	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

	.row
	{
		display: block;
	}

	.step
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: @baseUnit * 50;
		// overflow: hidden;

		&#step2
		{
			color: @colorBright;
			text-align: center;
		}

		.stepContent
		{
			position: relative;
		}
	}

	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

	&._howTo
	{
		.notVisibleOn_howTo
		{
			display: none;
		}
	}


	&._videoUpload
	{
		.notVisibleOn_videoUpload
		{
			display: none;
		}
	}

	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

	#step2
	{
		display: none;
	}

	&.finshed
	{
		#step1
		{
			display: none;
		}

		#step2
		{
			display: block;
		}
	}

	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

	.button
	{
		margin: @baseUnit * 16 0;
	}

	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

	form
	{
		position: relative;

		input
		{
			&[type=text]
			{
				display: block;
				width: 100%;
				margin: @baseUnit * 14 0;
				font-size: @baseUnit * 16;
				padding: @baseUnit * 3;
			}

			&[type=radio]
			{
				margin: @baseUnit * 8 @baseUnit * 10 @baseUnit * 8 0;
				font-size: @baseUnit * 16;

				+label
				{
					font-size: @baseUnit * 18;
				}
			}

			&[type=checkbox]
			{
				margin: @baseUnit * 14 @baseUnit * 10 0 0;
				font-size: @baseUnit * 16;
			}
		}

		a
		{
			text-decoration: underline;

			&:hover
			{
				color: inherit;
			}
		}

		label
		{
			width: 95%;
			display: inline-block;
			font-size: @baseUnit * 16;
			color: @colorBright;

			&.button
			{
				width: auto;
			}
		}

		.inlineCtn
		{
			input[type=text]
			{
				display: inline-block;
				vertical-align: top;
				width: 49%;
				margin-right: 1.5%;

				&:last-child
				{
					margin-right: 0;
				}
			}
		}

		#_file
		{
			// width: 0.1px;
			// height: 0.1px;
			// opacity: 0;
			// overflow: hidden;
			// position: absolute;
			// z-index: -1;
			display: none;
		}
	}

	.uploadStatus
	{
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin-left: @baseUnit * 10;
		color: @colorBright;
		margin-top: @baseUnit * 18;
	}

	#_checkBoxNewsletterCtn
	{
		display: none;
	}
}


/*//////////////////////////////////////////////////////////////////////////////////////////  PHONE */

.webApp
{
	&.phone
	{
		.uploadView
		{
			position: fixed;
			// width: 96%;
			// height: 96vh;
			width: 100%;
			height: 100vh;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			overflow-x: hidden;
			overflow-y: auto;

			.closeBtn
			{
				top: @baseUnit * 30;
				right: @baseUnit * 16;
			}

			.step
			{
				position: relative;
				width: 100%;
				height: auto;
				// max-height: @baseUnit * 600;
				min-height: 100vh;
				padding: @baseUnit * 30 @baseUnit * 20;

			}

			h1.curved
			{
				font-size: @baseUnit * 24;
				margin-top: @baseUnit * 5;
				margin-bottom: @baseUnit * 30;
				text-align: left;
			}

			.button
			{
				margin: @baseUnit * 10 0;
			}

			form
			{
				input
				{
					&[type=text]
					{
						margin: @baseUnit * 14 0;
						width: 100%;
						font-size: @baseUnit * 13;
					}
					&[type=radio]
					{
						font-size: @baseUnit * 16;
						margin: @baseUnit * 0 @baseUnit * 10 0 0;
					}

					&[type=checkbox]
					{
						font-size: @baseUnit * 16;
						margin: @baseUnit * 0 @baseUnit * 10 0 0;
						+label
						{
							vertical-align: top;
						}
					}
				}

				label
				{
					width: 90%;
					font-size: @baseUnit * 14;
					line-height: @baseUnit * 15;
					margin-bottom: @baseUnit * 5;

					&.button
					{
						width: 100%;
					}
				}

				.inlineCtn
				{
					input[type=text]
					{
						display: block;
						// vertical-align: top;
						width: 100%;
						margin-right: 0;

						// &:last-child
						// {
						// 	margin-right: 0;
						// }
					}
				}
			}
		}
	}
}
