/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* @less 		BaseView
* @author 		p.neumann@supernice-dev.com
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/



@import '../../../app_global.less';

.baseView
{
	// background-color: #FFF;
}

.displayNone
{
	display: none;
	// visibility: hidden;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.underline
{
	content: "";
	position: absolute;
	width: 0%;
	height: @baseUnit * 1;
	bottom: 0;
	left: 0;
	background-color: #FFF;
	// visibility: hidden;
	// transform: scaleX(0);
	transition: width 0.2s ease-in-out 0s;

	&.active
	{
		// visibility: visible;
		width: 100%;
		// transform: scaleX(1);
	}
}

.underlineCtn
{
	position: relative;
	display: inline-block;
    
	&:hover .underline
	{
		.underline.active;
	}
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// MOBILE
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.mobile
{
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// SMARTPHONE
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.phone
{
	.underlineCtn
	{
		&:hover .underline
		{
			.underline;
		}
	}
}


// @media screen and (max-width: 480px)
// {
// }
